/* 1100pxより大きいとき */
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Source+Code+Pro&display=swap');

html{
    width: 100%;
    height: 100%;
}
body{
    font-family: 'Source Code Pro', 'Noto Sans JP', sans-serif, monospace;
    font-weight: 600;

    width: 100%;
    height: 100%;
    
    margin: 0;
    padding: 0;

    background: #ffffff;
}

a:link{
    color: #39CC14;
  }
a:visited{
    color: #39CC14;
}
a:hover{
    color: #32B312;
}
a:active{
    color: #32B312;
}

.page-header{
    width: 100%;
    height: auto;

    background: #1e1e1e;
    color: white;

    text-align: center;
    padding-top: 20px;

    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #64DD17;

    
    
}

.image-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.contents{
    padding-top: 10px;

    width: 1000px;
    margin: auto;
}

.aisatu{
    font-size: x-large;
    text-align: center;
}

h2.syoukaititle{
    border-bottom: 1px solid black;
}

.page-footer{
    width: auto;


    background: #1e1e1e;
    color: white;

    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: #64DD17;
}
table,
td {
    border-collapse: collapse;
    border: 1px solid #000;
}

.social-card{
    display: flex;

    margin-bottom: 10px;
}
.social-card-body{
    width: calc(100% / 3);
    height: 150px;

    text-align: center;

    border: solid 1px gray;
    background-color: lightgray;

}

.social-card-icon{
    font-size: 60px;
   
}

.follow-button {
    margin-top: 7px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 4px;
    color: #ffffff;
    background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #5e7fca;
  }
  
  .follow-button:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
  }